.banner-img1{
    background-image: url(../image/carousel/1.jpg);
    height: 100vh;
}
.banner-img2{
    background-image: url(../image/carousel/2.jpg);
    height: 100vh;
}
.banner-img3{
    background-image: url(../image/carousel/3.jpg);
    height: 100vh;
}
.icons{
    width: 50px;
}

.client-img{
    width: 160px;
}
